@use '../setting/config' as *;
@use '../mixin/_mixin' as *;

/**********************************************
  メイン
**********************************************/
// コンテンツエリア内のサイトメインスタイル
.site-main {
  // background: #fff;
  margin: 0 auto;
}

.section {
  margin-top: 40px;
  &:last-of-type {
    margin-bottom: 60px;
  }
  @include mq(tb) {
    margin-top: 60px;
    &:last-of-type {
      margin-bottom: 100px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    color: $main-color;
    letter-spacing: 5%;
    @include mq(tb) {
      font-size: 40px;
    }
  }
}